.header {
    min-height: 50px;
    cursor: pointer;

}

.burger {
    margin-left: 60px;
    padding-bottom: 10px;


}

.container {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    min-width: 200px;
}

.linkedin_img {
    min-height: 37px;
}