.header{
    border: 1px solid black;
    min-height: 50px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    min-width: 200px;
}
